<%- contentFor('head') %>
<script type="text/javascript">
	$(document).ready(function() {
		var plugin_setup_template = $("#plugin_setup_form > fieldset > .panel").clone();

		// load current config
		$.ajax({
			contentType: 'application/json',
			data: $.toJSON(params),
			dataType: 'json',
			type: 'POST',
			url: '/read-setup',
			success: function(data) {
			},
			error: function() {
			}
		});

		$("#plugin_add_btn").click(function(e) {
			var template = plugin_setup_template.clone();
			var size = $("#plugin_setup_form > fieldset > div").size();
			var server_port = template.find("#server_port");
			server_port.val(Number(server_port.val()) + size);
			var listen_port = template.find("#listen_port");
			listen_port.val(Number(listen_port.val()) + size);

			$("#plugin_setup_form > fieldset").append(template);
		});
		$("#plugin_remove_btn").click(function(e) {
			if($("#plugin_setup_form > fieldset > div").size() > 1) {
				$("#plugin_setup_form > fieldset > div:last").remove();
			} else {
				$("div#alert_plugin_remove").modal();
			}
		});
		$("#write_and_run_btn").click(function(e) {
			var params = { };
			var plugin_setup = [];
			
			// Serialize base setup
			$.each($("#setup").serializeArray(), function(index) {
				params[this.name] = this.value;
			});

			// Serialize plug-in setup
			$("#plugin_setup_form > fieldset > div.panel").each(function(index, obj) {
				var setup = {};
				$.each($(obj).find(":input").serializeArray(), function(index) {
					setup[this.name] = this.value;
				});
				plugin_setup.push(setup);
			});
			params['plugins'] = plugin_setup;

			$.ajax({
				contentType: 'application/json',
				data: $.toJSON(params),
				dataType: 'json',
				type: 'POST',
				url: '/write-setup',
				success: function(data) {
				},
				error: function() {
				}
			});
		});
	});
</script>
<%- contentFor('body') %>
<div class="panel panel-default">
	<div class="panel-heading">Event Setup</div>
	<div class="panel-body">
		<form id="setup" class="form-default">
			<fieldset>
				<div class="form-group">
					<label for="event_title" class="control-label">Event Title</label>
					<input type="text" id="event_title" name="event_title" class="form-control" />
				</div>
				<div class="form-group">
					<label for="welcome_message" class="control-label">Welcome Message</label>
					<textarea id="welcome_message" name="welcome_message" rows="4" class="form-control"></textarea>
				</div>
			</fieldset>
		</form>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row">
			<div class="col-xs-9 col-md-10">Plug-in Setup</div>
			<div class="col-xs-3 col-md-2 text-right">
				<button id="plugin_add_btn" type="button" class="btn btn-default btn-xs">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				</button>
				<button id="plugin_remove_btn" type="button" class="btn btn-default btn-xs">
					<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
				</button>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<form id="plugin_setup_form" class="form-horizontal" role="form">
			<fieldset>
				<div class="panel panel-default">
					<div class="panel-body">
							<div class="row">
								<label class="col-md-2 control-label" for="server_host">Server Host</label>
								<div class="form-group col-md-5">
									<div class="col-md-8">
										<input type="text" id="server_host" name="server_host" class="form-control" value="localhost" />
									</div>
								</div>
								<div class="form-group col-xs-7 col-md-5">
									<label class="col-md-3 control-label" for="server_port">Server Port</label>
									<div class="col-md-6">
										<input type="text" id="server_port" name="server_port" class="form-control" value="11000" />
									</div>
								</div>
							</div>
							<div class="row">
								<label class="col-md-2 control-label" for="listen_port">Listen Port</label>
								<div class="form-group col-md-10">
									<div class="col-xs-6 col-md-3">
										<input type="text" id="listen_port" name="listen_port" class="form-control" value="12000" />
									</div>
								</div>
							</div>
							<div class="row">
								<label class="col-md-2 control-label" for="welcome_message">Welcome Message</label>
								<div class="form-group col-md-10">
									<div class="col-md-12">
										<textarea id="welcome_message" name="welcome_message" rows="3" class="form-control"></textarea>
									</div>
								</div>
							</div>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
<div class="text-right">
	<button id="write_and_run_btn" type="button" class="btn btn-primary btn-lg">저장 후 실행</button>
	<button id="stop_all_btn" type="button" class="btn btn-danger btn-lg">종료</button>
</div>
<div id="alert_plugin_remove" class="modal fade in" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4>Alert</h4>
			</div>
			<div class="modal-body">
				<p>At least one plug-in must be running.</p>
			</div>
		</div>
	</div>
</div>