<%- contentFor('head') %>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		var socket = io("/monitor");
		socket.on('connect', function() {
			socket.emit('get_running_plugin_list');
		});
		socket.on('get_running_plugin_list', function(data) {
			var plugins = $('select#plugins');
			for(var k in data) {
				var option = $("<option></option>")
								.val(data[k].index)
								.text("#" + (data[k].index+1) + " (PID:" + data[k].pid + ")");
				plugins.append(option);
			}
		});

		socket.on('get_current_session_info', function(data) {
			console.log(data);
		});

		$("select#plugins").change(function() {
			if(this.value < 0) return;

			socket.emit('send-plugin', this.value, { command: 'get_current_session_info' });
		})
	});
</script>
<%- contentFor('body') %>
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row form-horizontal">
			<label class="control-label col-md-1" for="plugins">Plug-in</label>
			<div class="col-md-2">
				<select id="plugins" class="form-control">
					<option value="-1">Select</option>
				</select>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-3">
				<select multiple class="form-control">
					<option>All (Server message)</option>
				</select>
			</div>
		</div>
	</div>
</div>