body { padding-top: 60px; }
div#footer { padding-top: 20px; }

div#chat-window { margin-bottom: 15px; }
div#chat-window > .panel-body { padding: 0px 15px 0px 15px; overflow-y: scroll; }
div#chat-window > .panel-body > .form-group { margin-bottom: 0px; }
@media (max-width: 991px) {
	div#chat-window > .panel-body { height: 300px; }
}

@media (min-width: 992px) {
	select.chat-user { height: 185px; }
	div#chat-window > .panel-body { height: 183px; }
}