<%- contentFor('head') %>
<script type="text/javascript">
	$(document).ready(function() {
		var plugin_setup_template = $("#plugin_setup_form > .panel").clone();

		// load current config
		$.ajax({
			contentType: 'application/json',
			dataType: 'json',
			type: 'GET',
			url: '/read-setup',
			beforeSend: function(xhr, settings) {
				$("#progress_overlay").modal();
			},
			success: function(data) {
				var config = $.parseJSON(data);

				$("#setup").find(":input").each(function() {
					if(typeof config[this.name] === 'string') {
						this.value = config[this.name];
					}
				});

				if(typeof config.plugins === 'object' && config.plugins.constructor === Array && config.plugins.length > 0) {
					var plugin_setup_form = $("#plugin_setup_form");
					plugin_setup_form.empty();
					for(var idx in config.plugins) {
						var plugin = config.plugins[idx];

						var template = plugin_setup_template.clone();
						$(template).find(":input").each(function() {
							this.value = plugin[this.name];
						});
						plugin_setup_form.append(template);
					}
				}
			},
			complete: function(xhr, status) {
				setTimeout(function() {
					$("#progress_overlay").modal('hide');
				}, 800);
			}
		});

		$("#plugin_add_btn").click(function(e) {
			var template = plugin_setup_template.clone();
			var plugins = $("#plugin_setup_form > .panel");
			
			var server_port = (Math.max.apply(null, plugins.find("[name=server_port]:input").map(function() { return Number(this.value); }).get()) || 11000) + 1;
			template.find("[name=server_port]:input").val(server_port);
			var listen_port = (Math.max.apply(null, plugins.find("[name=listen_port]:input").map(function() { return Number(this.value); }).get()) || 12000) + 1;
			template.find("[name=listen_port]:input").val(listen_port);

			$("#plugin_setup_form").append(template);
		});

		$("#plugin_remove_btn").click(function(e) {
			var  plugins = $("#plugin_setup_form > .panel");
			if(plugins.size() > 1) {
				plugins.last().remove();
			} else {
				$("div#alert_plugin_remove").modal();
			}
		});

		$("#write_btn").click(function(e) {
			var config = { };
			var plugin_setup = [];
			
			// Serialize setup
			$.each($("#setup").serializeArray(), function(index) {
				config[this.name] = $.isNumeric(this.value) ? Number(this.value) : this.value;
			});

			// Serialize plug-in setup
			$("#plugin_setup_form > .panel").each(function(index, obj) {
				var setup = {};
				$.each($(this).find(":input").serializeArray(), function() {
					setup[this.name] = $.isNumeric(this.value) ? Number(this.value) : this.value;
				});
				plugin_setup.push(setup);
			});
			config.plugins = plugin_setup;

			$.ajax({
				contentType: 'application/json',
				data: $.toJSON(config),
				dataType: 'json',
				type: 'POST',
				url: '/write-setup',
				beforeSend: function() {
					$("process_overlay").modal('show');
				},
				success: function(data) {
				},
				error: function() {
				},
				complete: function(xhr, status) {
					$("process_overlay").modal('hide');
				}
			});
		});
	});
</script>
<%- contentFor('body') %>
<div class="panel panel-default">
	<div class="panel-heading">Event Setup</div>
	<div class="panel-body">
		<form id="setup" class="form-default">
			<div class="form-group">
				<label for="event_title" class="control-label">Event Title</label>
				<input type="text" id="event_title" name="event_title" class="form-control" />
			</div>
			<div class="form-group">
				<label for="welcome_message" class="control-label">Welcome Message</label>
				<textarea id="welcome_message" name="welcome_message" rows="4" class="form-control"></textarea>
			</div>
		</form>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row">
			<div class="col-xs-9 col-md-10">Plug-in Setup</div>
			<div class="col-xs-3 col-md-2 text-right">
				<button id="plugin_add_btn" type="button" class="btn btn-default btn-xs">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				</button>
				<button id="plugin_remove_btn" type="button" class="btn btn-default btn-xs">
					<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
				</button>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<form id="plugin_setup_form" class="form-horizontal" role="form">
			<div class="panel panel-default">
				<div class="panel-body">
						<div class="row">
							<label class="col-md-2 control-label" for="server_host">Server Host</label>
							<div class="form-group col-md-5">
								<div class="col-md-8">
									<input type="text" id="server_host" name="server_host" class="form-control" value="localhost" />
								</div>
							</div>
							<div class="form-group col-xs-7 col-md-5">
								<label class="col-md-3 control-label" for="server_port">Server Port</label>
								<div class="col-md-6">
									<input type="text" id="server_port" name="server_port" class="form-control" value="11000" />
								</div>
							</div>
						</div>
						<div class="row">
							<label class="col-md-2 control-label" for="listen_port">Listen Port</label>
							<div class="form-group col-md-10">
								<div class="col-xs-6 col-md-3">
									<input type="text" id="listen_port" name="listen_port" class="form-control" value="12000" />
								</div>
							</div>
						</div>
						<div class="row">
							<label class="col-md-2 control-label" for="welcome_message">Welcome Message</label>
							<div class="form-group col-md-10">
								<div class="col-md-12">
									<textarea id="welcome_message" name="welcome_message" rows="3" class="form-control"></textarea>
								</div>
							</div>
						</div>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="row text-center">
	<button id="write_btn" type="button" class="btn btn-primary btn-lg">Save</button>
</div>
<div id="alert_plugin_remove" class="modal fade in" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4>Alert</h4>
			</div>
			<div class="modal-body">
				<p>At least one plug-in must be running.</p>
			</div>
		</div>
	</div>
</div>