<%- contentFor('head') %>
<script src="//cdn.jsdelivr.net/bluebird/3.4.0/bluebird.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
	var current_plugin = { index: -1, pid: -1 };

	$(document).ready(function() {
		var socket = io("/monitor");
		socket.on('connect', function() {
			socket.emit('greet', { type: 'monitor' });
		});
		// plug-in information
		socket.on('plugin_info', function(plugin_info) {
			var option = $("<option></option>")
							.attr('data-pid', plugin_info.pid)
							.val(plugin_info.pid)
							.text("#" + plugin_info.options.listen_port + " (PID:" + plugin_info.pid + ")");
			$('select#plugins').append(option);

			// current session information
			this.emit('session_info', this.nsp.id, plugin_info.pid);
			new Promise(function(resolve, reject) {
					handler = function(pid, session_info) {
						if(plugin_info.pid === pid && session_info.session_index === session_info.current_session_index)  {
							resolve(session_info);
							socket.removeListener('session_info', handler);
						}
					};
					socket.on('session_info', handler);
				}).timeout(1000).error(function(error) {
					var option = $('select#plugins > option[value=' + plugin_info.pid + ']');
					option.text(option.text() + ' - Not yet been connected.');
				}).finally(function() {
					socket.removeListener('session_info', handler);
				});
		});
		socket.on('plugin_disconnect', function(pid) {
			var plugins = $("select#plugins");
			var value = plugins.val();
			plugins.find('option[data-pid=' + pid + ']').remove();
			if(value !== plugins.val()) {
				plugins.trigger('change');
			}

			$.chat("server", "Stop plug-in (PID:" + pid + ")", "danger");
		})

		$("select#plugins").change(function() {
		});
	});

	$.chat = function(from, message, type) {
		type = (typeof type === 'undefined') ? 'default' : type;
		var text = '';
		if(typeof message === 'object') {
			if(current_plugin.pid !== message.pid) {
				return;
			}
			text = message.text;
		} else {
			text = message;
		}

		var chatwindow = $("div#chat-window > .panel-body");
		var msg = $("<div></div>")
						.addClass('form-group')
						.append($("<label></label>")
									.addClass('control-label')
									.addClass('col-md-2')
									.text(from))
						.append($("<div></div>")
									.addClass('col-md-10')
									.append($("<p></p>")
										.addClass('form-control-static')
										.text(text)));
		msg.addClass('bg-' + type);

		if(chatwindow.find('div.form-group').size() > 100) {
			chatwindow.find('div.form-group:first').remove();
		}

		chatwindow.append(msg);

		var scrollheight = chatwindow.prop('scrollHeight');
		chatwindow.scrollTop(scrollheight);
	};
</script>
<%- contentFor('body') %>
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row form-horizontal">
			<label class="control-label col-md-1" for="plugins">Plug-in</label>
			<div class="col-md-2">
				<select id="plugins" class="form-control">
					<option data-pid="-1" value="-1">Select</option>
				</select>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-3">
				<div class="form-group">
					<select id="chat-user" multiple class="form-control chat-user">
						<option value="-1" selected>All (Server message)</option>
					</select>
				</div>
				<div class="form-group">
					<div class="btn-group btn-group-justified" role="group">
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-success">Ballast</button>
						</div>
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-warning">Kick</button>
						</div>
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-danger">Ban</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div id="chat-window" class="panel panel-default chat-window">
					<div class="panel-body form-horizontal">
					</div>
				</div>
				<div class="input-group">
					<input id="chat" type="text" class="form-control" />
					<span class="input-group-btn">
    					<button id="chat-send" class="btn btn-default" type="button">Send</button>
    				</span>
				</div>
			</div>
		</div>
	</div>
</div>